body {
    height: 100%;
    margin-top: 64px;
    width: 100% !important;
    background: gray;
}

.nav {
    height: 64px;
    transition: transform .3s ease-in-out;

    &.hidden {
        transform: translateY(-64px);
    }
}

.navicon {
    margin-left: 128px;

    @media all and (max-width: 1050px) {
        margin: 0 32px !important;
    }

    @media all and (max-width: 1445px) {
        margin: 0 64px;
    }
}

.navitem {
    margin-left: 4px;
    font-size: 20px;
    padding: 13px 16px !important;
}

.active {
    font-weight: 700 !important;
}

section {
    width: 100%;
    height: fit-content;
    transition: .5s opacity cubic-bezier(0.1, 0.7, 1.0, 0.1);
    padding: 64px 128px;

    @media all and (max-width: 1050px) {
        padding: 24px 32px !important;
    }

    @media all and (max-width: 1445px) {
        padding: 24px 64px;
    }

    >* {
        color: whitesmoke;
    }
}

#相關資訊 {
    background-image: linear-gradient(-225deg, #2CD8D587 0%, #C5C1FF87 56%, #FFBAC387 100%);
    margin-top: 64px;
    height: 100%;
    opacity: .4;

    .info>span>b{
        font-size: 24px;
        line-height: 2em;
    }

    >div>h1 {
        display: table;
        margin: 25% auto 0px auto;
        transition: .5s ease-in-out;
        font-size: 72px;
    }

    >div>div>.info {
        display: none;
        float: left;
        margin: 128px 16px 16px 16px;
        font-size: 20px;
        opacity: .3;
        transition: .5s ease-in-out, .8s opacity cubic-bezier(0.680, -0.550, 0.265, 1.4);

        >span>a {
            color: #d82c2f !important;
        }
    }

    >div>div>.img {
        display: none;
        margin-top: 128px;
        transition: .5s ease-in-out, .8s opacity cubic-bezier(0.680, -0.550, 0.265, 1.4);
    }

    &:hover,
    &.hovered {
        opacity: 1;
        height: fit-content;
        >div>div>.info {
            display: block;
            opacity: 1;
        }

        >div>div>.img {
            display: block;
            opacity: 1;
        }

        >div>h1 {
            margin-top: calc(10% - 100px);
        }
    }
}

#計畫總覽 {
    background-image: linear-gradient(225deg, #2CD8D487 0%, #6B8DD487 48%, #8E37D487 100%);
    opacity: .4;

    &:hover,
    &.hovered {
        opacity: 1;
    }
    >div>h1 {
        position: relative;
        display: table;
        top: 64px;
        margin: 0px auto;
        font-size: 72px;
    }
    >div>div{
        >.info {
            display: block;
            position: relative;
            margin: 128px 16px 16px 16px;
            font-size: 20px;
            transition: .5s ease-in;
            line-height: 2em;
            float: left;
            >span>b{
                font-size: 24px;
                line-height: 3em;
            }
        }
        >.img {
            >img{
                margin-top: 128px !important;
            }
        }
    }
    
}

#計畫要素 {
    background-image: linear-gradient(-225deg, #5271C487 0%, #B19FF487 48%, #ECA1F487 100%);
    opacity: .4;
    &:hover,
    &.hovered {
        opacity: 1;
    }

    >div>h1 {
        position: relative;
        display: table;
        top: 64px;
        margin: 0px auto;
        font-size: 72px;
    }

    >.info {
        margin: 128px 16px 16px 16px;
        font-size: 20px;
        transition: .7s ease-in;
        line-height: 2em;
        >span{
            margin-bottom: 2.5em;
        }
        >span>h3>.image{
            margin-left: 24px;
        }
        >span>b{
            font-size: 24px;
            line-height: 3em;
        }
        >span>h3 {
            font-size: 20px;
            font-weight: lighter !important;
        }
    }
}

#計畫貢獻 {
    background-image: linear-gradient(225deg, #7742B487 0%, #F180F487 52%, #FD8BD487 100%);
    opacity: .4;
    //height: 1080px;
    padding: 64px 128px;
    
    &:hover,
    &.hovered {
        opacity: 1;
    }

    >div>h1 {
        position: relative;
        font-size: 72px;
        margin: 0px auto;
        top: 64px;
    }

    >div>table {
        margin: 128px auto 0px auto;
        font-size: 24px;
        line-height: 2em;
        transition: .7s ease-in;
    }
    >div>span>a {
        color: whitesmoke !important;
    }
}

.returnindex{
    bottom : -10px;
    letter-spacing: 1em;
}

i{
    font-style: normal !important;
    opacity: .7;
    font-size: 18px;
    text-align: center;
}